body {
  overflow-y: scroll;
}

#navbar.ui.container,
.dashboard .dashboard-navbar {
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --border-radius: 0.28571429rem;
  --color-active: #00000014;
  --color-black: #1b1c1d;
  --color-blue: #2185d0;
  --color-body: #ffffff;
  --color-box-body: #ffffff;
  --color-box-header: #f7f7f7;
  --color-brown: #a5673f;
  --color-button: #ffffff;
  --color-card: #ffffff;
  --color-caret: var(--color-text-dark);
  --color-code-bg: #ffffff;
  --color-code-sidebar-bg: #f5f5f5;
  --color-diff-added-row-bg: #e6ffed;
  --color-diff-added-row-border: #e6ffed;
  --color-diff-added-word-bg: #acf2bd;
  --color-diff-inactive: #f2f2f2;
  --color-diff-moved-row-bg: #f1f8d1;
  --color-diff-moved-row-border: #d0e27f;
  --color-diff-removed-row-bg: #ffeef0;
  --color-diff-removed-row-border: #f1c0c0;
  --color-diff-removed-word-bg: #fdb8c0;
  --color-editor-line-highlight: var(--color-primary-light-6);
  --color-error-bg: #fff6f6;
  --color-error-border: #e0b4b4;
  --color-error-text: #9f3a38;
  --color-expand-button: #d8efff;
  --color-footer: #ffffff;
  --color-gold: #a1882b;
  --color-green: #21ba45;
  --color-grey: #888888;
  --color-hover: #0000000f;
  --color-info-bg: #f8ffff;
  --color-info-border: #a9d5de;
  --color-info-text: #276f86;
  --color-input-background: #ffffff;
  --color-input-border-hover: #cecece;
  --color-input-border: #dedede;
  --color-input-text: #212121;
  --color-light-border: #0000001d;
  --color-light-mimic-enabled: rgba(0,0,0,calc(6 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light: #00000006;
  --color-markup-code-block: #00000010;
  --color-markup-table-row: #00000008;
  --color-menu: #ffffff;
  --color-navbar-transparent: #f8f8f800;
  --color-navbar: #f8f8f8;
  --color-olive: #b5cc18;
  --color-orange: #f2711c;
  --color-pink: #e03997;
  --color-placeholder-text: transparent;
  --color-primary-alpha-10: #4183c419;
  --color-primary-alpha-20: #4183c433;
  --color-primary-alpha-30: #4183c44b;
  --color-primary-alpha-40: #4183c466;
  --color-primary-alpha-50: #4183c480;
  --color-primary-alpha-60: #4183c499;
  --color-primary-alpha-70: #4183c4b3;
  --color-primary-alpha-80: #4183c4cc;
  --color-primary-alpha-90: #4183c4e1;
  --color-primary-dark-1: #3876b3;
  --color-primary-dark-2: #31699f;
  --color-primary-dark-3: #2b5c8b;
  --color-primary-dark-4: #254f77;
  --color-primary-dark-5: #193450;
  --color-primary-dark-6: #0c1a28;
  --color-primary-dark-7: #04080c;
  --color-primary-light-1: #548fca;
  --color-primary-light-2: #679cd0;
  --color-primary-light-3: #7aa8d6;
  --color-primary-light-4: #8db5dc;
  --color-primary-light-5: #b3cde7;
  --color-primary-light-6: #d9e6f3;
  --color-primary-light-7: #f4f8fb;
  --color-primary: #295785;
  --color-project-board-bg: var(--color-secondary-light-4);
  --color-project-board-dark-label: #555555;
  --color-project-board-light-label: #a6aab5;
  --color-purple: #a333c8;
  --color-reaction-active-bg: var(--color-primary-alpha-20);
  --color-reaction-bg: #0000000a;
  --color-red: #db2828;
  --color-secondary-alpha-10: #dedede19;
  --color-secondary-alpha-20: #dedede33;
  --color-secondary-alpha-30: #dedede4b;
  --color-secondary-alpha-40: #dedede66;
  --color-secondary-alpha-50: #dedede80;
  --color-secondary-alpha-60: #dedede99;
  --color-secondary-alpha-70: #dededeb3;
  --color-secondary-alpha-80: #dededecc;
  --color-secondary-alpha-90: #dededee1;
  --color-secondary-bg: #f4f4f4;
  --color-secondary-dark-10: #333333;
  --color-secondary-dark-11: #242424;
  --color-secondary-dark-12: #141414;
  --color-secondary-dark-13: #040404;
  --color-secondary-dark-1: #cecece;
  --color-secondary-dark-2: #bfbfbf;
  --color-secondary-dark-3: #a0a0a0;
  --color-secondary-dark-4: #909090;
  --color-secondary-dark-5: #818181;
  --color-secondary-dark-6: #717171;
  --color-secondary-dark-7: #626262;
  --color-secondary-dark-8: #525252;
  --color-secondary-dark-9: #434343;
  --color-secondary-light-1: #e5e5e5;
  --color-secondary-light-2: #ebebeb;
  --color-secondary-light-3: #f2f2f2;
  --color-secondary-light-4: #f8f8f8;
  --color-secondary: #dedede;
  --color-shadow: #00000030;
  --color-success-bg: #fcfff5;
  --color-success-border: #a3c293;
  --color-success-text: #2c662d;
  --color-teal: #00b5ad;
  --color-text-dark: #111;
  --color-text-light-2: #222;
  --color-text-light-3: #444;
  --color-text-light: #555;
  --color-text: #212121;
  --color-timeline: #ececec;
  --color-violet: #6435c9;
  --color-warning-bg: #fffaf3;
  --color-warning-border: #c9ba9b;
  --color-warning-text: #573a08;
  --color-white: #ffffff;
  --color-yellow: #fbbd08;
  --fonts-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Twemoji Mozilla";
  --fonts-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace, var(--fonts-emoji);
  --fonts-proportional: -apple-system, "Segoe UI", system-ui, "Roboto", "Helvetica Neue", "Arial";
  --height-loading: 12rem;
  --opacity-disabled: 0.55;
}
